.worktrees/
.assets
.docs
.env
.claude/
tools/.idea/
*.pyc
dist/
build/
*.egg-info/
*.egg
*.pycs
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
nano.*.save
.DS_Store
uv.lock
case/*.gif
tools/mlf/data/NCtrain.xlsx
lfs-trace.log
~$*.doc
tools/orbin/models/triple_ensemble_models.pth
_*.doc
